// sidebar
$menuText:#f4f4f5;
// $menuActiveText:transparent;
$menuActiveText:#263445;

$menuBg:rgb(52, 55, 68);
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$sideBarWidth: 190px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
